# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
htmlcov/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Specific to PyCharm/IntelliJ IDEs
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.spec
build/
dist/

# Readthedocs
.readthedocs.yaml

# Rye
.rye/

# Poetry
.venv

# Operating System files
.DS_Store
Thumbs.db
